<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dc80972f73.js" crossorigin="anonymous"></script>
    <title>Reservia</title>
</head>

<!-- START HEADER -->
<header>
    <img class="logo" src="View/images/logo/Reservia@3x.png" alt="Logo du site Reservia">
    <ul>
        <il><a href="">Hébergements</a></il>
        <il><a href="">Activités</a></il>
        <il><a href="">S'inscrire</a></il>
    </ul>
</header>
<!-- END HEADER -->

<body>
    <h2>Trouver votre hébergement pour des vacances de rêve</h2>
    <p>En plein centre ville ou en pleine nature</p>

    <form method="POST" action="/action_page.php">
        <i class="fa fa-user icon"></i>                                 <!-- classe à changer ici!!!! Mettre icone ''point de repère''-->
        <input type="text" placeholder="Username" name="username">
        <button type="submit">Rechercher</button>
    </form>

    <div class="Filtre">
        <p>Filtres</p>
        <p><i class="fab fa-algolia"></i>Economique</p>
        <p><i class="fab fa-algolia"></i>Familial</p>
        <p><i class="fab fa-algolia"></i>Romantique</p>
        <p><i class="fab fa-algolia"></i>Animaux autorisés</p>
    </div>

    <p><i class="fab fa-algolia"></i>Plus de 500 logements sont disponibles dans cette ville</p>

    <!-- CONTENU COMMENCE A PARTIR D'ICI! -->







    <!-- CONTENU SE TERMINE ICI -->

</body>

<!-- START FOOTER -->
<footer>
    <div class="container_footer">
        <h2>A propos</h2>
        <ul>
            <il><a href="">Fonctionnement du site</a></il>
            <il><a href="">Conditions générales de vente</a></il>
            <il><a href="">Données et confidentialité</a></il>
        </ul>
    </div>
    <div class="container_footer">
        <h2>Nos hébergements</h2>
        <ul>
            <il><a href="">Charte qualité</a></il>
            <il><a href="">Soumettre votre hotel</a></il>
        </ul>
    </div>
    <div class="container_footer">
        <h2>Assistance</h2>
        <ul>
            <il><a href="">Centre d'aide</a></il>
            <il><a href="">Nous contacter</a></il>
        </ul>
    </div>
</footer>
<!-- END FOOTER -->

</html>