<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservia</title>

    <script src="https://kit.fontawesome.com/dc80972f73.js" crossorigin="anonymous"></script>
    
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap" rel="stylesheet">  

    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>

<!-- START HEADER -->
<header id="navbarContainer">
    <img src="./images/logo/Reservia.svg" alt="Logo du site Reservia">
    <div class="navbarHoverContainer">
        <a class="navContainerItems" href="">Hébergements</a>
    </div>
    <div class="navbarHoverContainer">
        <a class="navContainerItems" href="">Activités</a>
    </div>
    <div class="navbarHoverContainer">
        <a class="navContainerItems Inscrire" href="">S'inscrire</a>
    </div>
</header>
<!-- END HEADER -->

<body>
    <div id="decalage">
        <h2>Trouver votre hébergement pour des vacances de rêve</h2>
        <p>En plein centre ville ou en pleine nature</p>


        <form class="Form-container" method="POST" action="/action_page.php">
            <i class="fas fa-map-marker-alt localisationIcone"></i>
            <input class="inputField" type="text" placeholder="Marseille, France" name="localisation">
            <button class="button" type="submit">Rechercher</button>
        </form>
        

        <div class="Filtre">
            <h3>Filtres</h3>
        
            <div class="contenantBouton">
                <div class="divIconFilter">
                    <div class="fab fa-algolia iconeFiltre"></div>
                </div>
                <span>Economique</span>
            </div>
            
            <div class="contenantBouton">
                <div class="divIconFilter">
                    <div class="fab fa-algolia iconeFiltre"></div>
                </div>
                <span>Familial</span>
            </div>
            
            <div class="contenantBouton">
                <div class="divIconFilter">
                    <div class="fab fa-algolia iconeFiltre"></div>
                </div>
                <span>Romantique</span>
            </div>
            
            <div class="contenantBouton">
                <div class="divIconFilter">
                    <div class="fab fa-algolia iconeFiltre"></div>
                </div>
                <span>Animaux autorisés</span>
            </div>

        </div>

        <p><i class="fab fa-algolia"></i>Plus de 500 logements sont disponibles dans cette ville</p>

        <!-- CONTENU COMMENCE A PARTIR D'ICI! -->
        <div id="mainContainer">
            <section class="subMainContainer Hebergements">
                <h2>Hébergements à Marseille</h2>
                <article class="containerSection taillePremierSection">
                    <img class="tailleImageHebergement" src="./images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg" alt="Auberge la Cannebière">
                    <h3>Auberge la Cannebière</h3>
                    <p>Nuit à partir de 25€</p>
                    <!-- Rajouter 4 étoiles ici-->
                </article>
                <article class="containerSection taillePremierSection">
                    <img class="tailleImageHebergement" src="" alt="Hotel du port">
                    <h3>Hôtel du port</h3>
                    <p>Nuit à partir de 25€</p>
                    <!-- Rajouter 4 étoiles ici-->
                </article>
                <article class="containerSection taillePremierSection">
                    <img class="tailleImageHebergement" src="" alt="Hôtel Les mouettes">
                    <h3>Hotel Les mouettes</h3>
                    <p>Nuit à partir de 25€</p>
                    <!-- Rajouter 4 étoiles ici-->
                </article>
                <article class="containerSection taillePremierSection">
                    <img class="tailleImageHebergement" src="" alt="Hôtel des mouettes">
                    <h3>Hôtel des mouettes</h3>
                    <p>Nuit à partir de 25€</p>
                    <!-- Rajouter 4 étoiles ici-->
                </article>
                <article class="containerSection taillePremierSection">
                    <img class="tailleImageHebergement" src="" alt="Auberge le Panier">
                    <h3>Auberge le Panier</h3>
                    <p>Nuit à partir de 25€</p>
                    <!-- Rajouter 4 étoiles ici-->
                </article>
                <article class="containerSection taillePremierSection">
                    <img class="tailleImageHebergement" src="" alt="Hôtel chez Amina">
                    <h3>Hôtel chez Amina</h3>
                    <p>Nuit à partir de 25€</p>
                    <!-- Rajouter 4 étoiles ici-->
                </article>
                <p id="Plus">Afficher plus</p>
            </section>

            <section class="subMainContainerPopulaires">
                <h2>Les plus populaire</h2>
                <article class="containerSectionsubPopulaires">
                    <img src="./images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg" alt="Hôtel Le soleil du matin">
                    <div class="sousSousSection">    
                        <h3>Hôtel Le soleil du matin</h3>
                        <p>Nuit à partir de 25€</p>
                        <!-- RAJOUTER LES ETOILES ICI! -->
                    </div>
                </article>
                <article class="containerSectionsubPopulaires">
                    <img src="" alt="Au coeur de l'eau">
                    <div class="sousSousSection">    
                        <h3>Au coeur de l'eau</h3>
                        <p>Nuit à partir de 25€</p>
                        <!-- RAJOUTER LES ETOILES ICI! -->
                    </div>
                </article>
                <article class="containerSectionsubPopulaires">
                    <img src="" alt="Hôtel Tout bleu et Blanc">
                    <div class="sousSousSection">    
                        <h3>Hôtel Tout bleu et Blanc</h3>
                        <p>Nuit à partir de 25€</p>
                        <!-- RAJOUTER LES ETOILES ICI! -->
                    </div>
                </article>
            </section>
        </div>

        <section class="subMainContainer Activites">
            <h2>Activités à Marseille</h2>
            <article class="containerSection tailleTroisiemeSection">
                <img class="tailleImageActivites" src="./images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg" alt="Vieux port">
                <h3>Vieux port</h3>
            </article>
            <div class="groupArticles tailleTroisiemeSection">
                <article class="containerSection Grand">
                    <img class="tailleImageActivites" src="" alt="Fort de Pomègue">
                    <h3>Fort de Pomègue</h3>
                </article>
                <article class="containerSection Petit">
                    <img class="tailleImageActivites" src="" alt="Îles de Frioul">
                    <h3>Îles de Frioul</h3>
                </article>
            </div>
            <article class="containerSection tailleTroisiemeSection">
                <img class="tailleImageActivites" src="" alt="Parc National des Calanques">
                <h3>Parc National des Calanques</h3>
            </article>
            <div class="groupArticles tailleTroisiemeSection">
                <article class="containerSection Petit">
                    <img class="tailleImageActivites" src="" alt="Notre-Dame-de-la-Garde">
                    <h3>Notre-Dame-de-la-Garde</h3>
                </article>
                <article class="containerSection Grand">
                    <img class="tailleImageActivites" src="" alt="Parc Longchamp">
                    <h3>Parc Longchamp</h3>
                </article>
            </div>
        </section>
    </div>
    <!-- CONTENU SE TERMINE ICI -->

</body>

<!-- START FOOTER -->
<footer>
    <ul class="containerFooter">
        <il><strong>A propos</strong></il>
        <il><a href="">Fonctionnement du site</a></il>
        <il><a href="">Conditions générales de vente</a></il>
        <il><a href="">Données et confidentialité</a></il>
    </ul>
    <ul class="containerFooter">
        <il><strong>Nos hébergements</strong></il>
        <il><a href="">Charte qualité</a></il>
        <il><a href="">Soumettre votre hotel</a></il>
    </ul>
    <ul class="containerFooter">
        <il><strong>Assitance</strong></il>
        <il><a href="">Centre d'aide</a></il>
        <il><a href="">Nous contacter</a></il>
    </ul>
</footer>
<!-- END FOOTER -->

</html>