/* -------- Syles globaux -------- */
/* -------- Syles globaux -------- */

h2 {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 10px;
  font-weight: normal;
}

* {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0px; /*en automatique, safari va mettre un margin... */
}

img {
  object-fit: cover;
}

.bleu {
  color: rgb(0, 91, 251);
}

.gris {
  color: rgb(214, 214, 214);
}

.decalage {
  margin-left: 3vw;
}

/* -------- STYLES POUR LA NAVBAR ------- */
/* -------- STYLES POUR LA NAVBAR ------- */

#navbarContainer {
  display: flex;
  margin-bottom: 30px;
}

#navbarContainer :nth-child(2) {
  margin-left: auto; /*permet d'avoir la navbar à droite, à partir du 2nd élements - image etant le premier*/
}

#navbarContainer img {
  padding-top: 25px;
  margin-right: 30%;
  margin-left: 3vw;
}

.navbarHoverContainer {
  display: flex;
  flex-direction: column;

  height: 68px;
}

.navbarHoverContainer :nth-child(1) {
  order: 1; /*permet d'avoir la barre bleu en haut. Pour les petits ecran, il faut indiquer "2"*/
  margin-top: auto; /*permet d'éloigner le texte!*/
}

.coloredHoverElement {
  background-color: white;
  width: 100%;
  height: 3px;
}

.navContainerItems {
  text-decoration: none; /*retirer le sousligner du <a/>*/
  text-emphasis: none; /*retirer le gras du <a/>*/
  color: black;
  width: 100%;
  text-align: center;

  padding: 0 1vw 0.5vw 1vw; /*la marge interieur me permet ici de descendre le plus que possible le text.*/
}

/*Lorsq'on hover sur le bouton, on a le petit div du dessus qui change de couleur*/
/* ~ : c'est pour appliquer un paramètre sur même niveau DOM! */
.navContainerItems:hover ~ .coloredHoverElement {
  background-color: #0065fc;
}
.navContainerItems:hover {
  color: #0065fc;
}

.Inscrire {
  font-weight: bold;
  color: #0065fc;
  margin-right: 5vw;
}

/* MEDIA POUR  ------- NAVBAR ------ */
/* MEDIA POUR  ------- NAVBAR ------ */
/*On applique le css, si et seulement si, la largeur d'affichage est est inférieur à 991px*/
@media (max-width: 768px) {
  #navbarContainer {
    flex-wrap: wrap;
  }
  #navbarContainer :nth-child(1) {
    order: 1;
  }
  #navbarContainer :nth-child(2) {
    order: 3;
  }
  #navbarContainer :nth-child(3) {
    order: 4;
  }
  #navbarContainer :nth-child(4) {
    order: 2;
    margin-left: auto;
  }

  .tailleMoitie {
    width: 50vw;
  }

  body {
    margin-left: 0;
  }

  .coloredHoverElement {
    background-color: rgb(216, 223, 230);
  }

  .Inscrire + .coloredHoverElement {
    background-color: white;
  }
}

/* ------ Formulaire ------*/
/* ------ Formulaire ------*/
* {
  box-sizing: border-box;
}

.Form-container {
  display: flex;
  margin-bottom: 25px;
}

.FormIcone {
  display: block;
  margin-top: auto; /*Me permet de bien centrer l'icone dans le container parent*/
  margin-bottom: auto; /*Me permet de bien centrer l'icone dans le container parent*/
  background-color: #f2f2f2;
  padding: 10px; /*Me permet d'éloigner l'icone des bords*/
  width: 38px;
  height: 36px;
  text-align: center; /*permet de centrer sur l'axe horizontal*/
}
.leftIcone {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.rightIcone {
  display: none;

  border-radius: 10px;
  margin-left: -5px;

  color: white;
  background-color: #0065fc;
}

.button {
  padding: 8px; /*Me permet d'éloigner le texte des bords*/
  background: #0065fc;
  color: white;
  font-size: 17px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: -1px; /* permet de coller le bouton au formulaire*/
}

.inputField {
  padding: 6px;
  font-size: 17px;
  border: 1px solid #f2f2f2;
  width: 200px; /* adjust as needed (as long as it doesn't break the topnav) */
}

.button:hover {
  background: #ccc;
}

/* MEDIA POUR  ------- Formulaire ------ */
/* MEDIA POUR  ------- Formulaire ------ */
/*On applique le css, si et seulement si, la largeur d'affichage est est inférieur à 991px*/
@media (max-width: 768px) {
  .rightIcone {
    display: inline-block;
  }
  .button {
    display: none;
  }
}

/* ------ Boutons FILTRE ------*/
/* ------ Boutons FILTRE ------*/

.Filtre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contenantBouton:hover {
  cursor: pointer;
}

.contenantBouton {
  /* Va nous permettre de mieux */
  display: flex;
  margin: 3px;
  justify-content: center;
  text-align: center;
  height: 40px;
  background-color: white;

  border: none; /* Remove borders */
  color: black;
  font-size: 16px; /* Set a font size */
  border-radius: 40px;
  border: solid;
  border-width: 2px;
  border-color: lightgrey;
}

.contenantBouton span {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.Filtre h3 {
  margin-top: auto;
  margin-bottom: auto;
}

.divIconFilter {
  display: flex;
  align-items: center;
  background-color: #deebff;
  color: #0065fc;
  height: 40px;
  border-radius: 50%;
  margin: -2px;
}

.iconeFiltre {
  display: inline-block;
  background-color: #deebff;
  color: #0065fc;
  width: 40px;
  border-radius: 50%;
}

.containerIcone {
  display: flex;
  margin: 35px 0 20px 0;
}

.containerIcone p {
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.iconeInfo {
  display: flex;
  color: #0065fc;

  border: 1px solid;
  border-color: lightgray;

  width: 20px;
  height: 20px;
  border-radius: 50%;

  margin-right: 7px;
}

.resizeSmall {
  font-size: 10px;
  margin: auto;
}

/* MEDIA POUR  ------- FILTRE ------ */
/* MEDIA POUR  ------- FILTRE ------ */
/*On applique le css, si et seulement si, la largeur d'affichage est est inférieur à 991px*/
@media (max-width: 768px) {
  .Filtre h3 {
    display: inline-block;
    width: 100%;
    height: 40px;
    padding-top: 10px;
  }
}

/* ------ 1er contenu HEBERGEMENTS------*/
/* ------ 1er contenu HEBERGEMENTS------*/

h3 {
  font-size: 15px;
  font-weight: bold;
}

/*63vw / 3 = 21vw */

.subMainContainer {
  display: flex;
  flex-wrap: wrap;
  width: 63vw; /*64 vw ---- ----Pour que cette section ne prenne  que 2/3 (70%) de la largeur de la flexbox*/
  margin: 15px 1vw 15px 0; /* 0px pour la marge de gauche, car le body a déja une marge de 3vw pour le séparer du bord de l'écran.*/
  background-color: #f2f2f2;
  padding: 1vw;
  /*A AMELIORER*/
  border-radius: 20px;
}

.subMainContainer h2 {
  /*permet d'avoir le h2 qui prend toute une ligne*/
  display: inline-block;
  width: 100%;
  padding-left: 1vw;
}

.subMainContainer h3 {
  padding-left: 1vw;
  margin: 0;
}

.subMainContainer p {
  display: inline-block;
  width: 100%;
  padding-left: 1vw;
  margin: 0;
}

.starsContainer {
  display: inline-block;
  padding-left: 1vw;
  margin-top: auto;
  padding-bottom: 1vw;
}

.containerSection {
  display: flex;
  flex-direction: column;

  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px rgb(245, 242, 242);
}

.taillePremierSection {
  width: 18vw;
  margin: 1vw; /* Chaque contenant a une marge de 1vw. Et le contenant du contenant a un padding de 1vw*/
  height: 180px;
}

.containerSection img {
  display: block; /*Sinon l'image ne tolère pas les effets borders et de dimensions... */
  border-top-left-radius: 17px; /*creer les courbures sur l'image*/
  border-top-right-radius: 17px;

  width: 100%;
}

.imagePadding {
  padding: 4px; /*laisser de l'espace entre l'image et le bord*/
}

.tailleImageHebergement {
  height: 60%;
}

.Plus {
  font-weight: bolder;
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* ------ 2ème contenu MEILLEURS------*/
/* ------ 2ème contenu MEILLEURS------*/

#mainContainer {
  /* Le container qui contient les deux contenu est en flex*/
  display: flex;
  width: 94vw;
}

.subMainContainerPopulaires {
  display: flex; /*permet d'avoir le contenu en dessous l'un de l'autre*/
  flex-direction: column;
  width: 29vw; /*le 1er contenu (hébergement Marseilles) prend 70% de l'espace, celui-ci 30%*/

  margin: 15px 0 15px 1vw; /* Juste pas de marge à droite*/
  padding: 1vw;
  background-color: #f2f2f2;
  border-radius: 20px;
}
.subMainContainerPopulaires h2 {
  /*display est nécessaire pour que le titre du premier contenu s'aligne avec ce dernier*/
  display: inline-block;
  width: 100%;
  padding-left: 1vw;
}

/* Ci-dessous le CSS pour les articles à l'inerieur des sections*/
.containerSectionsubPopulaires {
  height: 33%;
  display: flex;

  background-color: white; /*a synchorniser avec les 1,2,3 contenus : classes communes*/
  border-radius: 20px; /*a synchorniser avec les 1,2,3 contenus : classes communes*/

  margin: 10px;
}

.containerSectionsubPopulaires img {
  display: block; /*Sinon l'image ne tolère pas les effets borders et de dimensions... */

  width: 40%;
  height: 100%;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  padding: 4px 4px 4px 4px; /*un peu plus de padding à droite pour écarter l'image du texte et un peu ailleur, pour l'écarter des bords.*/
}

.sousSousSection {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  padding-right: 2vw;

  display: flex;
  flex-direction: column;
}

.sousSousSection h3 {
  padding: 0px;
  margin: 0px;
  padding-left: 1vw;
  padding-bottom: 5px;
  padding-top: 1vw;
}

.sousSousSection p {
  padding: 0px;
  margin: 0px;
  padding-left: 1vw;
  padding-bottom: 4px;
}

/* ------ 3ème CONTENU ------ */
/* ------ 3ème CONTENU ------ */

.Activites {
  width: 94vw;
  padding: 0px;
  justify-content: space-between;
  background-color: white;
}

.Activites h2 {
  /*permet d'avoir le h2 qui prend toute une ligne*/
  display: inline-block;
  width: 100%;
  padding: 0px;
  margin: 0 0 10px 0;
}

.groupArticles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Petit {
  height: 36%;
}

.Grand {
  height: 56%;
}

.tailleTroisiemeSection {
  width: 22vw;
  height: 400px;
  margin: 0px;
}

.tailleImageActivites {
  height: calc(100% - 45px);
}

.paddingTop {
  padding-top: 10px;
}

/* MEDIA POUR  ------- LES TROIS CONTENUS ------ */
/* MEDIA POUR  ------- LES TROIS CONTENUS ------ */
/*On applique le css, si et seulement si, la largeur d'affichage est est inférieur à 991px*/
@media (max-width: 768px) {
  #mainContainer {
    /* Le container qui contient les deux contenu est en flex*/
    flex-direction: column-reverse;
  }

  .taillePremierSection {
    width: 94vw;
  }

  .subMainContainer {
    width: 94vw;
    background-color: white;
  }

  .subMainContainerPopulaires {
    width: 100vw;
    margin-left: -3vw;
    padding-left: 3vw;
    padding-right: 3vw;
    border-radius: 0px;
  }
  .containerSectionsubPopulaires img {
    height: 25vh;
  }

  .Activites {
    flex-direction: column;
  }

  .Activites .groupArticles {
    width: 100%;
    height: 300px;
  }
  .Activites .containerSection {
    width: 100%;
    height: 150px;
    margin-bottom: 1em;
  }
}

/* ------ FOOTER ------ */
/* ------ FOOTER ------ */

footer {
  display: flex;

  width: 103vw;
  background-color: #f2f2f2;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 40px;
}

.containerFooter {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.containerFooter a {
  display: inline-block;

  font-weight: normal;
  text-decoration: none;
  text-emphasis: none;
  color: black;
  font-size: 15px;
  font-weight: lighter;

  padding-top: 15px;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    margin-left: -3vw;
  }
}
