/* -------- POLICE DE TEXTE -------- */
/* -------- POLICE DE TEXTE -------- */

@font-face {
  font-family: "Raleway";
  src: url("./Raleway/static/Raleway-SemiBold.ttf") format("truetype");
}

* {
  font-family: "Raleway";
}

/* -------- STYLES POUR LA NAVBAR ------- */
/* -------- STYLES POUR LA NAVBAR ------- */

#navbarContainer {
  display: flex;
  margin-left: 3vw;
  margin-bottom: 30px;
}

#navbarContainer img {
  padding-top: 25px;
}

.navbarHoverContainer {
  display: flex;

  width: auto;
  height: 45px;
  background-color: #0065fc; /* ici il suffit lors d'un hover de switch entre 95% et 100% pour faire apparaitre la barre bleu au dessus */

  justify-content: center;
}
.navbarHoverContainer:nth-child(2) {
  margin-left: auto;
}

.navContainerItems {
  text-decoration: none;
  text-emphasis: none;
  color: black;
  background-color: white;
  height: 100%; /* ici il suffit lors d'un hover de switch entre 95% et 100% pour faire apparaitre la barre bleu au dessus */
  padding: 35px 15px 0 15px;
  margin-top: auto;
}

.navContainerItems:hover {
  height: 95%; /* ici il suffit lors d'un hover de switch entre 95% et 100% pour faire apparaitre la barre bleu au dessus */
  color: #0065fc;
}

.Inscrire {
  font-weight: bold;
  color: #0065fc;
}

/* -------- STYLES POUR LE BODY ------- */
/* -------- STYLES POUR LE BODY ------- */
#decalage {
  margin-left: 3vw;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 10px;
  font-weight: normal;
}

/* ------ Formulaire ------*/
/* ------ Formulaire ------*/
* {
  box-sizing: border-box;
}

.Form-container {
  display: flex;
  margin-bottom: 25px;
}

.localisationIcone {
  display: block;
  margin-top: auto; /*Me permet de bien centrer l'icone dans le container parent*/
  margin-bottom: auto; /*Me permet de bien centrer l'icone dans le container parent*/
  background-color: #f2f2f2;
  padding: 10px; /*Me permet d'éloigner l'icone des bords*/
  width: 33px;
  height: 36px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.button {
  /*J'ai ess*/

  padding: 8px; /*Me permet d'éloigner le texte des bords*/
  background: #0065fc;
  color: white;
  font-size: 17px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.inputField {
  padding: 6px;
  font-size: 17px;
  border: 1px solid #f2f2f2;
  width: 200px; /* adjust as needed (as long as it doesn't break the topnav) */
}

.button:hover {
  background: #ccc;
}

/* ------ Boutons FILTRE ------*/
/* ------ Boutons FILTRE ------*/

.Filtre {
  display: flex;
  flex-direction: row;
}

.Filtre h3 {
  margin-top: auto;
  margin-bottom: auto;
}

.buttonFiltre {
  height: 40px;
  background-color: white;

  border: none; /* Remove borders */
  color: black;
  padding-top: 7px; /* me permet de manière approximative de centrer le texte*/
  font-size: 16px; /* Set a font size */
  border-radius: 40px;
  border: solid;
  border-color: lightgrey;
}

.iconeFiltre {
  display: inline-block;
  background-color: #deebff;
  color: #0065fc;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* ------ 1er contenu HEBERGEMENTS------*/
/* ------ 1er contenu HEBERGEMENTS------*/

h3 {
  font-size: 15px;
  font-weight: bold;
}

.subMainContainer {
  display: flex;
  flex-wrap: wrap;
  width: 70%; /*Pour que cette section ne prenne  que 2/3 de la largeur de l'écran*/

  margin: 15px; /* ATTENTON je dois en mettre plus très probablement*/
  background-color: #f2f2f2;
  border-radius: 20px;
}

.subMainContainer h2 {
  /*permet d'avoir le h2 qui prend toute une ligne*/
  display: inline-block;
  background-color: lightskyblue;
  width: 100%;
  padding: 10px;
}

/* Pour que le text ne colle pas le bord gauche de l'article*/
/* OPTIMISATION faire une classe pour le contenu 1, 2 et 3*/
.subMainContainer h3 {
  padding-left: 10px;
}
.subMainContainer p {
  padding-left: 10px;
}

.containerSection {
  background-color: lightsalmon;
  border-radius: 20px;

  border: solid;
  width: 30%;
  margin: 10px;
}

.containerSection img {
  display: block; /*Sinon l'image ne tolère pas les effets borders et de dimensions... */
  border-top-left-radius: 20px; /*creer les courbures sur l'image*/
  border-top-right-radius: 20px;

  padding: 4px; /*laisser de l'espace entre l'image et le bord*/

  width: 100%;
  height: 60%;
}

/* ------ 2ème contenu MEILLEURS------*/
/* ------ 2ème contenu MEILLEURS------*/

#mainContainer {
  /* Le container qui contient les deux contenu est en flex*/
  display: flex;
  width: 90vw;
}

.subMainContainerPopulaires {
  display: flex; /*permet d'avoir le contenu en dessous l'un de l'autre*/
  flex-direction: column;
  width: 20%; /*le 1er contenu (hébergement Marseilles) prend 70% de l'espace, celui-ci 20%*/

  margin: 15px; /* à faire concorder avec le 1er contenu!*/
  background-color: #f2f2f2;
  border-radius: 20px;
}
.subMainContainerPopulaires h2 {
  /*display est nécessaire pour que le titre du premier contenu s'aligne avec ce dernier*/
  display: inline-block;
  width: 100%;
  padding: 10px;
  background-color: lightcoral;
}

/* Ci-dessous le CSS pour les articles à l'inerieur des sections*/
.containerSectionsubPopulaires {
  width: 100%;
  height: 33%;

  display: flex;
  flex-direction: row; /*A SUPPROMER : est fait en standard, donc peut être supprimé*/

  background-color: lightsalmon; /*a synchorniser avec les 1,2,3 contenus : classes communes*/
  border-radius: 20px; /*a synchorniser avec les 1,2,3 contenus : classes communes*/

  border: solid;
  width: 100%;
  margin: 10px;
  /*
  A refaire pour que l'image soit à gauche 
  + supprimer la class commune...
  display flex
  flex-direction : row;
  */
}

.containerSectionsubPopulaires img {
  display: block; /*Sinon l'image ne tolère pas les effets borders et de dimensions... */

  width: 40%;
  height: 100%;
}
.sousSousSection {
  background-color: lightseagreen;
}

/* ------ FOOTER ------ */
/* ------ FOOTER ------ */

footer {
  display: flex;
  width: 100vw;
  background-color: #f2f2f2;
  padding-top: 25px;
  padding-bottom: 25px;
}

.containerFooter {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  /* à voir s'il manque encore une marge sur le côté gauche du 1er element*/
}

.containerFooter a {
  display: inline-block;

  font-weight: normal;
  text-decoration: none;
  text-emphasis: none;
  color: black;
  font-size: 15px;
  font-weight: lighter;

  padding-top: 15px;
}
